<div class="main-box">

  <div class="profile-pic">
    <img src="https://i.pinimg.com/originals/a5/a3/44/a5a3444e0a5bfc872efa334110fe3ed5.png" class="avatar" alt="animoji">
    <h1>Jorge Espinosa</h1>
    <p class="p1">Productor Audiovisual. Programador Android Junior. Desarrollador Web FULL STACK <span class="icons">🎧🎬 </span> </p>
    <p class="p2">¡Visita mis links oficiales!💻</p>
  </div>


<a  class="box-item" *ngFor="let network of socialNetworks" href="{{network.link}}" >
  <div  class="left-item">
    <fa-icon class="main-icon" [icon]="network.image"></fa-icon>
  </div>
  <div class="right-item">
      <p>{{network.titulo}}</p>
  </div>
</a>


<button class="nightday-button" (click)="nightMode()">
  <fa-icon *ngIf="!isNightMode" class="night-icon" [icon]="moon"></fa-icon>
  <fa-icon *ngIf="isNightMode" class="day-icon" [icon]="sun"></fa-icon>
</button>
</div>



<router-outlet></router-outlet>

